result_tdf.csv
train_df.csv
val_df.csv
test_study.pkl
lightning_logs
logs_csv
optuna_test
Balls.csv
Bduck.csv
params.py
Cow.csv
Fox.csv
Updated_Fox.csv
TESTDATA
outputs/*
growingCoil.mp4
test_fox.csv
testy.csv